.dashboard-container {
    flex-direction: row;
    max-width: 65vw;
    justify-content: space-between;
    margin-left: 6vw;
    background-color: rgb(69, 69, 69);
    border-radius: 10px;
}

.secondary-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
}

.linegraph-container {
    height: 50vh;
    padding: 1rem;
}

.piechart-container {
    height: 45vh;
    width: 50vw;
}

.lg-title {
    font-weight: 600;
    padding-left: 1rem;
}

.pc-title {
    font-weight: 600;
    padding-left: 1rem;
    padding-top: 1rem;
}

.table-container{
    width: 80%;
    height: 80%;
    padding-top: 1.5rem;
}