.main-container {
    display: flex;
    flex-direction: column;
}

.students-container {
    padding: 2rem;
    padding-top: 1rem;
    height: 50vh;
    overflow-y: auto;
}

.sk-btn {
    display: flex;
}

.skill-container {
    display: block;
    overflow: hidden;
    text-wrap: nowrap;
    height: 100%;
}

.jobs-container {
    border-radius: 15px;
    float: right;
    height: 25vh;
    background-color: rgb(69, 69, 69);
    padding: 10px;
    overflow-x: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.jobs-container:hover {
    border: 1px solid white;
    
}

.sub-container {
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
}

.card-j {
    flex: 0 0 auto;
    margin-right: 10px;
    min-width: 200px;
    height: 100%;
    cursor: pointer;
    background-image: url('/public/card.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.skill-cont-job{
    max-width: 100%;
    padding-top: 10px;
}
.add-container:hover{
    cursor: pointer;
    background-color: rgba(104, 104, 104, 0.838);
    border-radius: 10px;
    padding: 5px;
}
.filter-container{
    display: flex;
    padding:  0rem 2rem;
    padding-top: 1rem;
    justify-content: space-between;
    width: 50%;
}

.modal-dialog{
    margin: 28px 28px !important;
    margin-left: 120px !important;
}