.login {
    display: flex;
}

.form-container {
    display: flex;
    min-height: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('https: //images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 2.5rem;

}

.logo-text {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 2.25rem;
    color: rgb(17 24 39);
    display: flex;
    flex-direction:column ;
}

.form-body {
    margin-top: 2.5rem;
    width: 50vw;
}