.navbar {
    position: sticky;
    top: 0px;
    height: 10vh;
    padding: 1rem;
    /* background-image: url('/public/layered-steps-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover; */
}
.navbar ul{
    padding-left: 0;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    list-style: none;
}
.burger{
    cursor: pointer;
    padding-left: 0.75rem;;
}
.profile{
    display: flex;
    align-items: center;
}
.logout{
    float: right;
    cursor: pointer;
}