.profile-container {
    display: flex;
    padding: 1.5rem;
    padding-left: 7vw;
    justify-content: space-between;
}

.p-details {
    padding-left: 0.5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.p-image {
    background-image: url('/public/profile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 40vh;
    width: 20vw;
    border: 1px solid rgba(0, 0, 0, 0.639);
}


.progress-tracker{
    border: 1px solid rgb(61, 61, 61);
    border-radius: 10px;
    width: 68vw;
    padding: 0.5rem;
}
.star-container{
    width: 50%;
    height: 50%;
}
.streak-container{
    /* border: 2px solid #1ad6fc62; */
    height: 50%;
}