.sidebar-active,
.sidebar {
    width: 20vw;
    padding: 1.25rem;
    padding-right: 0px;
    height: 90vh;
    position: fixed;
    z-index: 10;
    background-image: url('/public/side-bar-bg.svg');
    background-color: rgb(241, 245, 249)
}

.sidebar ul,
.sidebar-active ul {
    list-style: none;
    cursor: pointer;
    padding: 1rem;
    padding-right: 0;
    
}

.sidebar ul a,
.sidebar-active ul a {
    padding: 1rem;
    display: block;
}

.sidebar ul a{
    padding-left: 0;
}

.sidebar-active ul a:hover {
    background-color: #5522897c;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px   
}

.sidebar {
    width: 6vw;
    overflow: hidden;
}

.fa-brands,.fa-solid {
    margin-right: 1rem;
    width: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}