.dashboard-container{
    flex-direction: row;
    max-width: 70vw;
    justify-content: space-between;
}
.linegraph-container{
    height:50vh;
}
.piechart-container,.rankchart-container{
    height:50vh;
    width: 50vw;
}